<div [formGroup]="form" class="form-group relative flex flex-col">
  <div *ngIf="label !== ''" class="flex pb-1">
    <label class="text-primary pb-0 text-base pt-2 font-inter" [(for)]="id">{{
      label
    }}</label>

    <div class="text-sm text-secondary pt-2 pl-1">
      {{ opcional ? "" : "Required" }}
    </div>
  </div>

  <input
    type="{{ type }}"
    [id]="id"
    [formControlName]="campo || ''"
    [placeholder]="placeholder"
    class="form-control font-inter font-thin justify-self-auto p-2 rounded-4x0 focus:outline-none border-border-1 border " 
    [ngClass]="{
      'border-1 border-invalid': form.controls[campo].errors && form.controls[campo].touched
    }"
    pInputText
  />
</div>

