@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

::ng-deep {
  .p-inputtext {
    padding: 0.5em;
    width: 100%;
    border: 1px solid rgb(218 218 218 / var(--tw-border-opacity));
  }

  .p-inputtext:hover {
    border-color: none;
  }

  .full-width-calendar {
    .p-calendar {
      width: 100%;
    }
  }
}
