<div class="lg:flex bg-backGround">
  <section
    id="container-login"
    class="h-full min-h-screen flex justify-center flex-col pr-5 pl-5 bg-white lg:inline-flex lg:border-r lg:border-border-1 lg:shadow-lg lg:ml-auto lg:h-auto lg:flex-auto lg:max-w-max lg:min-w-144"
  >
    <img
      class="absolute top-10"
      src="../../assets/logos/logo-full.svg"
      alt="logo-full"
    />

    <h1
      class="form-login font-urbaninst font-bold text-primary mt-4 mb-4 text-3xl"
    >
      Welcome back! Glad to see you again!
    </h1>
    <div class="w-full">
      <form [formGroup]="form">
        <app-input
          label="Email Adress"
          id="email"
          [opcional]="true"
          campo="email"
          placeholder="alex@email.com"
          [form]="form"
        />
        <app-input
          label="Password"
          id="password"
          type="password"
          [opcional]="true"
          campo="password"
          placeholder="Enter yout password"
          [form]="form"
        />
      </form>
    </div>

    @if (this.userStore.login().loading) {
    <app-button
      [disabled]="this.form.invalid || this.userStore.login().loading"
      (click)="login()"
      class="mt-4 rounded-none rounded-t-lg"
      id="login"
      >Login account</app-button
    >
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '5px', 'border-radius': '0 0 10px 10px' }"
      styleClass="rounded-4x0 rounded-b-lg"
      color="#fad3e7"
    ></p-progressBar>
    } @else {
    <app-button
      [disabled]="this.form.invalid || this.userStore.login().loading"
      (click)="login()"
      class="mt-4"
      id="login"
      >Login account</app-button
    >
    }

    <h3 class="pt-2 flex justify-end">
      Dont have account?<span
        class="opacity-50 pl-2 hover:opacity-100 transition" (click)="redirectRegisterAcount()"
        >Register here</span
      >
    </h3>

    <app-separate class="mt-5 mb-5">Or Login with</app-separate>

    <div class="flex flex-row justify-around space-x-1">
      <app-button
        class="w-full border-2 rounded-4x0 bg-white border-border-1 transition hover:bg-whiteSmull"
        id="login"
      >
        <img
          width="25px"
          src="../../../assets/icons/facebook.svg"
          alt="facebook"
          srcset=""
        />
      </app-button>
      <app-button
        class="w-full border-2 rounded-4x0 bg-white border-border-1 transition hover:bg-whiteSmull"
        id="login"
      >
        <img
          width="25px"
          src="../../../assets/icons/google.svg"
          alt="google-button"
          srcset=""
        />
      </app-button>
      <app-button
        class="w-full border-2 rounded-4x0 bg-white border-border-1 transition hover:bg-whiteSmull"
        id="login"
      >
        <img
          width="25px"
          src="../../../assets/icons/apple.svg"
          alt="apple-button"
          srcset=""
        />
      </app-button>
    </div>
    <h3 class="pt-10 text-sm flex opacity-50 justify-center">
      Logo Inc. Copyright 2024, All Rights Reserved.
    </h3>
  </section>
  <div class="hidden lg:flex p-5 lg:flex-auto w-80">
    <div class="fixed bottom-16 flex items-center">
      <h1 class="font-urbaninst text-primary text-3xl font-semibold">
        <span class="opacity-50">Think about saying:</span>
        <br />
        If you're going to go, look your best
      </h1>
    </div>

    <img
      class="hidden lg:flex lg: bottom-52 absolute bottom-40 opacity-90"
      src="../../../assets/draws/bottons.svg"
      alt="draws"
    />

    <img
      class="absolute top-20 opacity-40"
      src="../../../assets/draws/bottons.svg"
      alt="bottons-draw"
    />

    <img
      class="hidden xl:flex absolute bottom-32 right-10 opacity-90"
      src="../../../assets/draws/bottons.svg"
      alt="bottons-draw"
    />

    <img
      class="hidden xl:flex absolute bottom-80 right-96"
      src="../../../assets/draws/circle.svg"
      alt="bottons-draw"
    />

    <img
      class="hidden xl:flex w-144 fixed bottom-0 right-0"
      src="../../../assets/freePik/loginArt.svg"
      alt="login-art"
    />
  </div>
</div>
<p-toast></p-toast>

