<section
  class="homepage h-full min-h-screen flex flex-col p-4"
>
  <div
    class="header space-x-4 flex place-content-between items-center font-urbaninst text-primary mb-4"
  >
    <div>
      <h1 class="text-xl font-thin">Hi Michael, where do you</h1>
      <h1 class="text-xl font-bold">wanna work today?</h1>
    </div>
    <div>
      <img
        width="25px"
        src="../../../assets/icons/notification.svg"
        alt="notification"
      />
    </div>
  </div>
  <div class="input flex gap-2">
    <app-input
      class="w-full"
      id="searchCoowork"
      [opcional]="true"
      campo="searchCoowork"
      placeholder="Search cafe, entire place, room"
      [form]="form"
    />
    <button class="bg-tertiary p-2 rounded-4x0">
      <img
        width="25px"
        src="../../../assets/icons/settings.svg"
        alt="settings"
      />
    </button>
  </div>

  <div class="categories mt-4 text-primary">
    <h1 class="text-sm font-bold">Categories</h1>

    <div class="list-categories mt-2">
      <ul class="flex gap-2 text-sm">
        @if(!this.cooworkSubjectService.load()) { @for (item of
        skeletonsArray; track $index) {
        <p-skeleton
          width="7rem"
          height="2.5em"
          styleClass="mb-2"
          borderRadius="16px"
        ></p-skeleton>
        } } @else { @for (coowork of getAllCategories(); track $index) {
        <li class="flex bg-white rounded-4x2 gap-2 p-2">
          <img width="15px" [src]="coowork.icon" alt="settings" />

          <span class="text-primary">{{ coowork.categorie }}</span>
        </li>
        } }
      </ul>
    </div>
  </div>

  <div class="nearest-spaces mt-4 text-primary" >
    <h1 class="text-sm font-bold">Nearest spaces</h1>

    <ul
      class="flex flex-col gap-4 mt-2 md:flex-row items-center md:flex-wrap md:justify-start pb-14"
    >
      @if (!this.cooworkSubjectService.load()) { @for (item of
      skeletonsArray; track $index) {
      <li class="flex w-full flex-start bg-white rounded-4x2 gap-2 p-3 max-w-128">
        <p-skeleton
          class="w-full"
          height="20em"
          styleClass="mb-2"
          borderRadius="1em"
        ></p-skeleton>
        <p-skeleton width="18rem" styleClass="mb-2"></p-skeleton>
        <div class="flex justify-between">
          <span class="text-sm text-gray opacity-40">
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
          </span>
          <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        </div>
        <span class="text-sm font-light text-green">
          <p-skeleton width="3rem" styleClass="mb-2"></p-skeleton>
        </span>
      </li>
      } } @else { @for (coowork of this.cooworkSubjectService.allcooworks();
      track $index) {
      <li (keypress)="coowork.id" class="flex w-full flex-col bg-white rounded-4x2 gap-2 p-3 max-w-128" (click)="redirectDeatils(coowork.id)">
        <img
          class="w-full h-80 rounded-4xl"
          src="../../../assets/images/coowork-option.webp"
          alt="coowork"
        />
        <h1 class="text-base font-bold">{{ coowork.name }}</h1>
        <div class="flex justify-between">
          <span class="text-sm text-gray opacity-40">
            {{ getCategorieByCoowork(coowork.id, this.cooworkSubjectService.allcooworks()) }}
          </span>

          <span class="flex gap-1 text-sm text-yellow">
            <img width="10px" src="../../../assets/icons/star.svg" alt="star" />
            4.9
          </span>
        </div>
        <span class="text-sm font-light text-green"> 
          {{getDayPrices(coowork.id, this.cooworkSubjectService.allcooworks())}} Day </span>
      </li>
      } }
    </ul>
  </div>
</section>
<app-status-bar></app-status-bar>
