<section
  class="coowork-details h-full min-h-screen flex flex-col p-4 pb-16"
>
  <app-nav-bar-return title="Coowork details" [share]="share"></app-nav-bar-return>

  <div class="coowork-details__main">
    @if (this.storeCoowork.cooworkList().loading) {
    <p-skeleton
      class="w-full"
      height="20em"
      styleClass="mb-2"
      borderRadius="1em"
    ></p-skeleton>
    <p-skeleton width="18rem" height="2em" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="10rem" height="1em" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="8rem" height="1em" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="12rem" height="2em" styleClass="mt-10 mb-2"></p-skeleton>
    <p-skeleton width="w-full" height="15em" styleClass="mb-2"></p-skeleton>
    } @else {
    <img
      class="w-full h-80 rounded-4xl"
      src="../../../assets/images/coowork-option.webp"
      alt="coowork"
    />
    <div>
      <h1 class="text-xl font-bold mt-5 mb-2">
        {{ this.cooworkDetails().name }}
      </h1>

      <div class="flex items-center justify-between">
        <span class="text-base text-primary opacity-40">
          {{ getCategorieByCoowork(this.cooworkDetails()) }}
        </span>
      </div>

      <div class="description">
        <h1 class="text-base font-bold mt-5 mb-2">Space description</h1>
        <h3 class="text-base text-primary opacity-40">
          {{ this.cooworkDetails().detail.description }}
        </h3>
      </div>

      <div class="Location text-base">
        <h1 class="font-bold mt-5 mb-2">Location</h1>
        <div class="text-primary opacity-40">
          <h3 class="">
            City: {{ address().city }} / Country: {{ address().country }}
          </h3>
          <h3 class="">
            Road: {{ address().road }} / Number:
            {{ address().number }}
          </h3>
          <h3 class="mb-5">Complement: {{ address().complement }}</h3>
        </div>
        <google-map height="270px" width="w-full" [options]="optionsMap">
          <map-marker [position]="markerPositions" [options]="optionsMap" />
        </google-map>
      </div>

      <h1 class="font-bold text-base mt-5 mb-2">Spaces</h1>

      @for (place of this.cooworkDetails().places; track $index) {
      <div
        (click)="redirectToSchedule(place.id)"
        onkeypress="redirectToSchedule(place.id)"
        class="rounded-4x2 mb-5 bg-white border-gray border-opacity-10 border"
      >
        <img
          class="w-full h-52 rounded-t-2xl"
          src="../../../assets/images/coowork-option.webp"
          alt="coowork"
        />
        <div class="p-2 rounded-b-2xl">
          <h1 class="font-medium text-base">{{ place.type }}</h1>
          <div class="flex justify-between pr-2 pb-2 pt-2">
            <span class="text-sm font-light text-green"
              >R$ {{ place.day_price }} Day</span
            >
            <img
              src="../../../assets/icons/seta-direita.svg"
              alt="arrow-right"
            />
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>
<app-status-bar></app-status-bar>
